<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template :: head}"></head>
    <body>
        <header th:replace="~{template :: header}"></header>
        
        <div class="container" data-bs-spy="scroll">
            <nav th:replace="~{template :: barraBreadcrumb (elementos=${navegacion})}"></nav>
            <form th:action="@{/views/impactos/guardar}" th:object="${impacto}" method="post" novalidate>
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h2 th:replace="~{template :: encabezadoCard (icono='plus-circle', texto=${titulo})}"></h2>
                    </div>
                    <div class="card-body">
                        <div class="card card-body">
                            <label th:replace="~{template :: etiquetaForms (texto='Insertar datos del impacto:')}"></label>
                            <div class="row">
                                <input type="hidden" th:field="*{idImpacto}">
                                <div th:replace="~{template :: campoInput (tipoCampo='text', campo='codigo', textoLabel='Código del impacto:', textoSpan='Código asignado al impacto.', icono='input-cursor-text', objeto=codigo, soloLectura=false)}"></div>
                                <div th:replace="~{template :: campoInput (tipoCampo='text', campo='descripcion', textoLabel='Descripción del impacto:', textoSpan='Descripción asignada al impacto.', icono='input-cursor-text', objeto=descripcion, soloLectura=false)}"></div>
                                <div th:replace="~{template :: campoSelect (campo='estatus', textoLabel='Estatus del impacto:', textoSpan='Estatus asignado al impacto.', textoSelect='Seleccionar estatus...', objeto=estatus, lista='${T(com.oghs.sgdsws.model.Estatus).values()}', listaValue='', listaText='.etiqueta')}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark text-white">
                        <button th:replace="~{template :: boton (icono='save', texto='Guardar', titulo='Guardar Impacto')}"></button>
                    </div>
                </div>
            </form>
        </div>

        <footer th:replace="~{template :: footer}"></footer>
    </body>
</html>
