<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{template :: head}"></head>
    <body>
        <header th:replace="~{template :: header}"></header>
        
        <div class="container" data-bs-spy="scroll">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2 th:replace="~{template :: encabezadoCard (icono='clipboard-data', texto=${titulo})}"></h2>
                </div>
                <div class="card-body">
                    <a class="btn btn-primary" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR')" th:href="@{/views/proyectos/crear}" title="Crear Nuevo Proyecto">
                        <i class="bi-clipboard-plus"></i>
                        <span>Nuevo Proyecto</span>
                    </a>
                    <br>
                    <br>
                    <div class="table-responsive" data-bs-spy="scroll">
                        <div class="row d-flex align-items-center">
                            <div class="col">
                                <label for="buscar" class="form-label">Buscar proyecto</label>
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i class="bi-input-cursor-text"></i>
                                    </span>
                                    <div class="form-floating">
                                        <input type="search" class="form-control" id="buscar" placeholder="Buscar..." aria-describedby="buscar" aria-label="buscar">
                                        <label for="buscar">Buscar:</label>
                                    </div>
                                </div>
                                <span class="form-text">Buscar proyecto por nombre, estado o usuario.</span>
                                <!-- <div class="alert alert-warning" th:if="${#fields.hasErrors('bitacoraProyecto.acciones')}" th:errors="*{bitacoraProyecto.acciones}"></div> -->
                            </div>
                            <div class="col">
                                <a class="btn btn-primary" th:href="@{#}" title="Buscar Proyecto">
                                    <i class="bi-search"></i>
                                    <span>Buscar</span>
                                </a>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <caption>Lista de proyectos</caption>
                            <thead class="table-dark">
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Nombre</th>
                                    <!-- <th scope="col">Descripción</th> -->
                                    <th scope="col">Estado</th>
                                    <th scope="col">Usuario Creación</th>
                                    <th scope="col">Fecha Creación</th>
                                    <th scope="col">Usuario Asignado</th>
                                    <th scope="col">Fecha Inicio</th>
                                    <th scope="col">Fecha Fin</th>
                                    <th scope="col">Usuario Modificación</th>
                                    <th scope="col">Fecha Modificación</th>
                                    <th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR', 'ROLE_DESARROLLO')">Detalle</th>
                                    <th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR')">Editar</th>
                                    <th scope="col" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR')">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody class="table-group-divider">
                                <tr th:each="p, status : ${proyectos.page}">
                                    <th scope="row" th:text="${p.idProyecto}"></th>
                                    <td th:text="${p.nombre}"></td>
                                    <!-- <td th:text="${p.descripcion}"></td> -->
                                    <td th:text="${p.estadoProyecto.descripcion}"></td>
                                    <td th:text="${p.usuarioCreacion}"></td>
                                    <td th:text="${#dates.format(p.fechaCreacion, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${p.usuarioAsignado}"></td>
                                    <td th:text="${#dates.format(p.fechaInicio, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${#dates.format(p.fechaFin, 'dd/MM/yyyy')}"></td>
                                    <td th:text="${p.usuarioModificacion}"></td>
                                    <td th:text="${#dates.format(p.fechaModificacion, 'dd/MM/yyyy')}"></td>
                                    <td>
                                        <a class="btn btn-success" th:href="@{/views/proyectos/detalle/} + ${p.idProyecto}" title="Detalle Proyecto">
                                            <i class="bi-card-list"></i>
                                        </a>
                                    </td>
                                    <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR')">
                                        <a class="btn btn-warning" th:href="@{/views/proyectos/editar/} + ${p.idProyecto}" title="Editar Proyecto">
                                            <i class="bi-pencil-square"></i>
                                        </a>
                                    </td>
                                    <td sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERVISOR', 'ROLE_AUDITOR', 'ROLE_REVISOR')">
                                        <!-- <a class="btn btn-danger" title="Eliminar Proyecto" data-bs-toggle="modal" data-bs-target="#confirmacionModal">
                                            <i class="bi-trash"></i>
                                        </a> -->
                                        <a class="btn btn-danger" title="Eliminar Proyecto" data-bs-toggle="modal" th:data-bs-target="|#confirmacionModal${status.index}|">
                                            <i class="bi-trash"></i>
                                        </a>
                                        <!-- <nav th:replace="~{template :: confirmacionModal (idModal='${status.index}', texto='¿Eliminar el proyecto: ' + ${p.descripcion} + '?', objeto='@{/views/proyectos/eliminar/} + ${p.idProyecto}')}"></nav> -->
                                        <!-- Modal -->
                                        <div class="modal fade" th:id="|confirmacionModal${status.index}|" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmacionModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-sm">
                                                <div class="modal-content">
                                                    <div class="modal-header bg-dark text-white">
                                                        <h3 class="modal-title fs-5">
                                                            <i class="bi-question-circle"></i>
                                                            <span>Confirmación</span>
                                                        </h3>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="alert alert-warning">
                                                            ¿Eliminar el proyecto: <strong>[[${p.descripcion}]]</strong>?
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer bg-dark text-white">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                                        <a type="button" class="btn btn-primary" th:href="@{/views/proyectos/eliminar/} + ${p.idProyecto}">Aceptar</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot class="table-group-divider">
                                
                            </tfoot>
                        </table>
                        <nav th:replace="~{template :: paginacionTabla (pagina='proyectos')}"></nav>
                    </div>
                </div>
                <div class="card-footer bg-dark text-white">
                    
                </div>
            </div>
        </div>
        
        <footer th:replace="~{template :: footer}"></footer>
    </body>
</html>
