<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template :: head}"></head>
    <body>
        <header th:replace="~{template :: header}"></header>
        
        <div class="container" data-bs-spy="scroll">
            <nav th:replace="~{template :: barraBreadcrumb (elementos=${navegacion})}"></nav>
            <form th:action="@{/views/usuarios/guardar}" th:object="${usuario}" method="post" novalidate>
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h2 th:replace="~{template :: encabezadoCard (icono='person-add', texto=${titulo})}"></h2>
                    </div>
                    <div class="card-body">
                        <div class="card card-body">
                            <label th:replace="~{template :: etiquetaForms (texto='Insertar datos del usuario:')}"></label>
                            <div class="row">
                                <input type="hidden" th:field="*{idUsuario}">
                                <div th:replace="~{template :: campoInput (tipoCampo='text', campo='nombreUsuario', textoLabel='Nombre de usuario:', textoSpan='Nombre de usuario asignado.', icono='input-cursor-text', objeto=nombreUsuario, soloLectura=false)}"></div>
                                <div th:replace="~{template :: campoInput (tipoCampo='password', campo='contrasena', textoLabel='Contraseña del usuario:', textoSpan='Contraseña asignada al usuario.', icono='input-cursor-text', objeto=contrasena, soloLectura=false)}"></div>
                                <div th:replace="~{template :: campoInput (tipoCampo='text', campo='correo', textoLabel='Correo electrónico del usuario:', textoSpan='Correo electrónico asociado al usuario.', icono='input-cursor-text', objeto=correo, soloLectura=false)}"></div>
                                <div th:replace="~{template :: campoSelect (campo='rol', textoLabel='Rol del usuario:', textoSpan='Rol asignado al usuario.', textoSelect='Seleccionar rol...', objeto=rol.idRol, lista='${listaRoles}', listaValue='.idRol', listaText='.descripcion')}"></div>
                                <div th:replace="~{template :: campoSelect (campo='estatus', textoLabel='Estatus del usuario:', textoSpan='Estatus asignado al usuario.', textoSelect='Seleccionar estatus...', objeto=estatus, lista='${T(com.oghs.sgdsws.model.Estatus).values()}', listaValue='', listaText='.etiqueta')}"></div>
                                <div th:replace="~{template :: campoInput (tipoCampo='date', campo='fechaVigencia', textoLabel='Fecha de vigencia del usuario:', textoSpan='Fecha de vigencia asignada al usuario.', icono='calendar', objeto=fechaVigencia, soloLectura=false)}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer bg-dark text-white">
                        <button th:replace="~{template :: boton (icono='save', texto='Guardar', titulo='Guardar Usuario')}"></button>
                    </div>
                </div>
            </form>
        </div>

        <footer th:replace="~{template :: footer}"></footer>
    </body>
</html>
