<header>
    <!-- <script type="text/javascript" th:inline="javascript">
        // Regresar de página de error
        function goBack() {
            window.history.back();
        }
        
        $(document).ready(function() {
            $('.form-control').each(function(key, value) {
                validarCampos(this);
            });
            $('.form-select').each(function(key, value) {
                validarCampos(this);
            });

            // Inicializar tooltips
            const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
            const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
        });

        // Validar campos vacios
        function validarCampos(campo) {
            if ($(campo).val().length <= 0) {
                $(campo).removeClass('is-valid');
            }
        }
    </script> -->
</header>