<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{template :: head}">
        
    </head>
    <!-- <body th:replace="~{template :: body}"> -->
        <header th:replace="~{template :: header}"></header>

        <!-- Contenido -->
        <div class="container">
            <div class="row py-3">
                <h1>Inicio</h1>
            </div>
        </div>
    <!-- </body> -->
    
    <footer th:replace="~{template :: footer}">
        
    </footer>
</html>
